.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 560px;
  margin-bottom: 15vh;
}

.courseTable {
  border-collapse: collapse;
}
.courseTable th,
.courseTable td {
  border-top: 1px solid grey;
  width: 75px;
  text-align: center;
  padding: 10px 2px 10px 23px;
}

tbody tr{
  font-weight: 300;

}

.courseTable tbody tr:hover {
  background-color: #dfe9fd;
}

.courseTable td:first-child {
  text-align: start;
}

/* THEAD */
.tableHead__sort {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.thead__secondRow th:hover {
  color: #dfe9fd;
}

.tableHead__sort span:first-child {
  padding-right: 4px;
}

.thead__secondRow th:first-child {
  text-align: start;
  width: 400px;
}
.thead__secondRow th:not(first-child) {
  width: 95px;
}
.courseTable .thead__firstRow th {
  border-top: none;
}

/* PAGINATION */
.pagination {
  margin-top: auto;
  margin-bottom: 5px;
}

.arrow-up {
  border-color: black transparent;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  height: 0px;
  width: 0px;
}

.arrow-down {
  border-color: black transparent;
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  height: 0px;
  width: 0px;
}
